/*Globales*/
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: dekko;
  src: url(../fonts/Dekko-Regular.ttf);
}
html {
  font-size: 62.5%; /* 1rem=10px */
  background-color: #FFBB5C;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #FFBB5C;
}

header {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  text-decoration: none;
}

section {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
section article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  border: calc(8px + 0.2vw) solid transparent;
  background-origin: border-box;
  background-clip: content-box, border-box;
  background-size: cover;
  box-sizing: border-box;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 0.7rem;
}
section article div {
  text-align: center;
  border-radius: 1rem;
  background-color: rgba(255, 128, 0, 0.1215686275);
}

.pCardInicio {
  padding: 1rem;
  background-color: #FF9B50;
  border-radius: 3rem;
  line-height: 2rem;
  font-style: italic;
  font-size: 2rem;
  text-align: center;
  color: rgb(236, 212, 182);
}

.alinear {
  display: inline-block;
  margin: 1rem;
}

.alinearFabrica {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imgIndex {
  height: 20vh;
}

.imgGaleria {
  height: 25vh;
}

/* Listas */
ol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #a92415;
  font-size: 1.5rem;
  text-align: center;
}

ul {
  list-style-type: none;
}

/* Tipografias */
h1 {
  font-size: 5rem;
  font-family: dekko, sans-serif;
  text-align: center;
  color: #C63D2F;
  margin-left: 3rem;
  margin-right: 3rem;
}

h2 {
  font-size: 3rem;
  color: #C63D2F;
  font-family: dekko, sans-serif;
  text-shadow: 1px 1px 1px #a92415;
}

h3 {
  font-size: 1.5rem;
  color: #C63D2F;
}

p {
  font-size: 1.4rem;
  color: #C63D2F;
}

strong {
  font-weight: 10;
  font-style: italic;
}

.parrafoNaranja {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  width: auto;
  background-color: rgba(255, 128, 0, 0.1215686275);
}

/* Formulario */
.fondoForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFBB5C;
  border-radius: 3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.7rem;
  color: #C63D2F;
}

.labelFormu {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  color: #a92415;
  background-color: #FFBB5C;
  border-radius: 1rem;
}

#btnNaranja {
  background-color: #FFBB5C;
  font-size: 2rem;
  color: #C63D2F;
}

/* Pie de pagina, boton ARRIBA y logo IG.*/
.linkArriba {
  text-align: right;
  margin-right: 3rem;
  font-size: 1.5rem;
  color: #a92415;
}

footer {
  text-align: center;
  background-color: #FF9B50;
  font-size: 1.5rem;
}

.igIcoColor {
  color: #C63D2F;
  font-size: 3rem;
}

/* Menu de Navegacion, Pagination, Animacion y Carousel*/
nav {
  background-color: #FF9B50;
  width: fit-content;
  margin: auto;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-style: inset;
  border-color: #a92415;
  border-width: 0.3rem;
  border-radius: 0.7rem;
}

.nav-link {
  font-family: dekko, sans-serif;
  font-size: 2.5rem;
  color: #a92415;
  text-shadow: 1px 1px 2px black;
}
.nav-link:hover {
  color: #FF9B50;
  text-shadow: 1px 1px 2px black;
  transform: translate(3px, -5px);
}

.navbarFondo {
  background-color: #FF9B50;
}

.menuNaveg {
  background-color: #FF9B50;
  font-size: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
  border-style: double;
  border-radius: 1rem;
}

.nav-item {
  padding: 0.5rem;
}

.bannerS {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 3rem;
}

.logoBanner {
  display: none;
}

.carouselCentrado {
  display: flex;
  justify-content: center;
}

.imgCarousel {
  height: 15vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.navGaleria {
  background-color: #FF9B50;
  color: rgb(236, 212, 182);
  font-size: 2rem;
  border-color: #a92415;
  display: flex;
  justify-content: center;
}
.navGaleria:link {
  background-color: #FF9B50;
  color: rgb(236, 212, 182);
  font-size: 2rem;
  border-color: #a92415;
  display: flex;
  justify-content: center;
}

.pagination {
  display: flex;
  justify-content: center;
}

@keyframes fadeLogo {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
.videoymapa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.mapouter {
  position: relative;
  text-align: right;
  width: 600px;
  height: 400px;
}

.gmap_canvas {
  overflow: hidden;
  background: none;
  width: 600px;
  height: 400px;
}

.gmap_iframe {
  width: 600px;
  height: 400px;
}

@media (min-width: 320px) {
  .galeriaGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
@media (min-width: 768px) {
  .galeriaGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .logoBanner {
    display: flex;
    height: 10rem;
    animation: fadeLogo 4s;
  }
  section article {
    flex-direction: row;
  }
  .imgIndex {
    height: 25vh;
  }
  .imgGaleria {
    height: 30vh;
  }
  .videoFabrica {
    width: 560px;
    height: 315px;
  }
  .imgCarousel {
    height: 20vh;
  }
}
@media (min-width: 1024px) {
  .alinearInicio {
    margin: 3rem;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
  }
  .galeriaGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .alinearFabrica {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

/*# sourceMappingURL=styles.css.map */
