// Variables

$colorTranslucid:#ff80001f;
$colorBackCard: rgba(193, 236, 225, 0.315);
$fuentePrim:dekko, sans-serif;
$fuenteSecu:Verdana, Geneva, Tahoma, sans-serif;

// Lista
$color:
rgb(236, 212, 182)
#FFBB5C
#FF9B50
#a92415
#C63D2F
#46095e;

// Extend
%flexcolumncenter{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

}

// Mixin

@mixin textoCTF ($colores, $tamano, $fuente){
    color: $colores;
    font-size: $tamano;
    font-family: $fuente;
}

/*Globales*/

*{
    margin: 0; 
    padding: 0;
}

@font-face {
    font-family: dekko;
    src: url(../fonts/Dekko-Regular.ttf);
}

html{
    font-size: 62.5%; /* 1rem=10px */
    font-family:$fuenteSecu;
}

body{
    background: linear-gradient(
        217deg,
        rgba(247, 0, 255, 0.8),
        rgba(255, 0, 0, 0) 70.71%
      ), linear-gradient(127deg, rgba(255, 166, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
      linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
}

header{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

main{
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
}

section{
    @extend %flexcolumncenter;
    article{
        @extend %flexcolumncenter;
        margin: 1rem;
        border: calc(8px + 0.2vw) solid transparent;
        background-origin: border-box;
        background-clip: content-box, border-box;
        background-size: cover;
        box-sizing: border-box;
        box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
        border-radius: 0.7rem;
        div{
            text-align: center;
            border-radius: 1rem;
            background-color: $colorTranslucid;
        }
    }
}

.pCardInicio{
    padding: 1rem;
    background-color: nth($color, 3);
    border-radius: 3rem;
    line-height: 2rem;
    font-style: italic;
    font-size: 2rem;
    text-align:center;
    color: nth($color, 1);
   }
 .pCardInicioError{
    margin: 50px;
    background-color: nth($color, 3);
    border-radius: 3rem;
    font-style: italic;
    font-size: 2rem;
    text-align:center;
    color: nth($color, 1);
}
