/* Menu de Navegacion, Pagination, Animacion y Carousel*/ 

nav{
    background-color:nth($color, 3);
    width:fit-content; 
    margin: auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-style:inset;
    border-color: nth($color, 4);
    border-width: 0.3rem;
    border-radius: 0.7rem;
 }
.nav-link{
    @include textoCTF(nth($color, 4), 2.5rem, $fuentePrim );
    text-shadow: 1px 1px 2px black;
    &:hover{
        color: nth($color, 3);
        text-shadow: 1px 1px 2px black;
        transform: translate(3px, -5px);
    }
}

.navbarFondo{
    background-color:nth($color, 3);
}

.menuNaveg{
    background-color:nth($color, 3);
    font-size: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
    border-style:double;
    border-radius: 1rem;
}

.nav-item{
    padding: 0.5rem;
}

.bannerS{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 3rem;
}

.logoBanner{
    display: none;
}

.carouselCentrado{
    display: flex;
    justify-content: center;
}
.imgCarousel{
    height: 15vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.navGaleria{
    @include textoCTF(nth($color, 1), 2rem, $fuentePrim );
    background-color:nth($color, 3);
    border-color: nth($color, 4);
    display: flex;
    justify-content: center;
    &:link{
        @include textoCTF(nth($color, 1), 2rem, $fuentePrim );
        background-color:nth($color, 3);
        border-color: nth($color, 4);
        display: flex;
        justify-content: center;
    }
}

.pagination{
    display: flex;
    justify-content: center;

}

@keyframes fadeLogo {
    0% {
        opacity:0;
    }
    25% {
        opacity: 0.2;
    }
    50%{
        opacity:0.5;
    }
    75%{
        opacity: 0.7;
    }
    100% {
        opacity:1;
    }
}

.videoymapa{
    @extend %flexcolumncenter;
    align-content: center;
}

.mapouter{
    position:relative;
    text-align:right;
    width:600px;
    height:400px;
}
.gmap_canvas {
    overflow:hidden;
    background:none;
    width:600px;
    height:400px;
}
.gmap_iframe {
    width:600px;
    height:400px;
}