.alinear{
    display:inline-block;
    margin: 1rem;    
}

.alinearFabrica{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imgIndex{
    height: 20vh;
}

.imgGaleria{
    height: 25vh;
}

/* Listas */

ol{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: nth($color, 4);
    font-size: 1.5rem;
    text-align: center;
}

ul{
    list-style-type: none;
}

/* Tipografias */

h1{
    font-size: 5rem;
    font-family: $fuentePrim;
    text-align: center;
    color: nth($color, 5);
    margin-left: 3rem;
    margin-right: 3rem;
}

h2{
    font-size: 3rem;
    color: nth($color, 5);
    font-family: $fuentePrim;
    text-shadow: 1px 1px 1px nth($color, 4);
}

h3{
    font-size: 1.5rem;
    color: nth($color, 5);
}

p{
    font-size: 1.4rem;
    color: nth($color, 5);
}

strong{
    font-weight: 10;
    font-style: italic;
}

.parrafoNaranja{
    font-family:$fuenteSecu;
    font-size: 2rem;
    width:auto;
    background-color: $colorTranslucid;
}
/* Formulario */

.fondoForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: nth($color, 2);
    border-radius: 3rem;
    font-family: $fuenteSecu;
    font-size: 1.7rem;
    color: nth($color, 5);
}

.labelFormu{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    color: nth($color, 4);
    background-color: nth($color, 2);
    border-radius: 1rem;
}

#btnNaranja{
    background-color: nth($color, 2);
    font-size: 2rem;
    color: nth($color, 5);
}

/* Pie de pagina, boton ARRIBA y logo IG.*/

.linkArriba{
    text-align: right;
    margin-right: 3rem;
    font-size: 1.5rem;
    color:nth($color, 4);
}

footer{
    
    text-align: center;
    background-color: nth($color, 3);
    font-size: 1.5rem;
}

.igIcoColor{
    color: nth($color, 5);
    font-size: 3rem;
}
