.alinear{
    display:inline-block;
    margin: 1rem;
}

.alinearFabrica{
    @extend %flexcolumncenter;
}

.imgIndex{
    height: 20vh;
}

.imgGaleria{
    height: 20vh;
}
.cardInicio, .cardFabric, .cardGaleria{
    background-color: $colorBackCard;
}

/* Listas */

ol{
    @extend %flexcolumncenter;
    color: nth($color, 4);
    font-size: 1.5rem;
    text-align: center;
}

ul{
    list-style-type: none;
}

.listFabNos{
    @extend %flexcolumncenter;
    color: nth($color, 4);
    font-size: 1.5rem;
    text-align: center;
}

/* Tipografias */

h1{
    @include textoCTF(nth($color, 5), 5rem, $fuentePrim );
    text-align: center;
    margin-left: 3rem;
    margin-right: 3rem;
}

h2{
    @include textoCTF(nth($color, 5), 3rem, $fuentePrim );
    text-shadow: 1px 1px 1px nth($color, 4);
}

h3{
    @include textoCTF(nth($color, 5), 1.9rem, $fuenteSecu );
}

p{
    @include textoCTF(nth($color, 5), 1.4rem, $fuenteSecu );
}

strong{
    font-weight: 10;
    font-style: italic;
}

.parrafoNaranja{
    @include textoCTF(nth($color, 5), 2rem, $fuenteSecu );
    width:auto;
    background-color: $colorTranslucid;
}

/* Formulario */

.fondoForm{
    @extend %flexcolumncenter;
    @include textoCTF(nth($color, 5), 1.7rem, $fuenteSecu );
    background-color: nth($color, 3);
    border-radius: 3rem;
    padding: 15px;
}

.labelFormu{
    @include textoCTF(nth($color, 4), 1.9rem, $fuentePrim );
    display: flex;
    flex-direction: column;
    background-color: nth($color, 2);
    border-radius: 1rem;
}

#btnNaranja{
    @include textoCTF(nth($color, 4), 2rem, $fuentePrim );
    background-color: nth($color, 2);
}

/* Pie de pagina, boton ARRIBA y logo IG.*/

.linkArriba{
    @include textoCTF(nth($color, 5), 2rem, $fuentePrim );
    text-align: right;
    margin-right: 3rem;
}

footer{
    
    text-align: center;
    background-color: nth($color, 3);
    font-size: 1.5rem;
}

.igIcoColor{
    color: nth($color, 5);
    font-size: 3rem;
}
