/* Globales */
*{
    margin: 0; 
    padding: 0;
}

@font-face {
    font-family: dekko;
    src: url(../fonts/Dekko-Regular.ttf);
}

.galeriaGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

html{
    font-size: 62.5%; /* 1rem=10px */
    background-color: #ffc15d;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

body{
    background-color: #ffc15d;
}

header{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a{
    text-decoration: none;
}

section{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

section article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

section article div{
    text-align: center;
    border-style: dotted;
    border-color: bisque;
    border-radius: 10%;
}

section article div p{
    background-color: #FF9B50;
    font-style: italic;
    font-size: 2rem;
    text-align:center;
    color:bisque;
    overflow: hidden;
    padding: 1rem;
} 

/* Listas */

ol{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #a92415;
    font-size: 1.5rem;
    text-align: center;
}

ul{
    list-style-type: none;
    padding: 1rem;
}

.listaobjetos{
    background-color: #FF9B50;
    line-height: 2rem;
    font-style: italic;
    font-size: 2rem;
    text-align:center;
    color:bisque;
    overflow: hidden;
}

/* Tipografias */

h1{
    font-size: 5rem;
    font-family: dekko, sans-serif;
    text-align: center;
    color:#C63D2F;
    margin-left: 3rem;
    margin-right: 3rem;
}

h2{
    font-size: 3rem;
    color:#C63D2F;
    font-family: dekko, sans-serif;
}

h3{
    font-size: 1.5rem;
    color: #C63D2F;
}

p{
    font-size: 1.4rem;
    color: #C63D2F;
}

strong{
    font-weight: 10;
    font-style: italic;
}

.parrafoNaranja{
    font-size: 2rem;
    color: #FF9B50;
    width:auto;
    background-color: #C63D2F;
}

/* Menu Navegacion, Pagimnation  y banner con logo */ 

nav{
    background-color: #C63D2F;
    width:fit-content; 
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-style:inset;
    border-color: #a92415;
    border-width: 0.3rem;
    border-radius: 0.7rem;
}

.navGaleria{
    background-color:#FF9B50;
    color: #ffffff;
    font-size: 2rem;
    border-color: #a92415;
    display: flex;
    justify-content: center;
}

.navGaleria:link{
    background-color:#FF9B50;
    color: #684109;
    font-size: 2rem;
    border-color: #a92415;
    display: flex;
    justify-content: center;
}

.pagination{
    display: flex;
    justify-content: center;
}
.menuNaveg{
    background-color: #FF9B50;
    font-size: 2rem;
    padding-right: 3rem;
    padding-left: 3rem;
    border-style:double;
    border-radius: 1rem;
}

.nav-item{
    padding: 1rem;
}

.navbarFondo{
    background-color: #FF9B50;
}


.botonMenuNaveg{
    color:#C63D2F;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;    
}
.botonMenuNaveg:hover {
    color:#eee8e8;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;    
}

.bannerS{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 3rem;
}

.logoBanner{
    display: none;
}

#carouselBanner{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 3rem;
}

/* Alineaciones e IFRAMEs*/

.alinear{
    display:inline-block;
    margin: 1rem;    
}

.imgIndex{
    height: 20vh;
}

.imgGaleria{
    height: 25vh;
}

.videoymapa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

/* Formulario */

.labelFormu{
    font-size: 1.5rem;
    color: #a92415;
    background-color: #FFBB5C;
}

#btnNaranja{
    background-color: #FFBB5C;
    font-size: 2rem;
    color: #C63D2F;
}

/* Pie de pagina, boton ARRIBA y logo IG.*/

.linkArriba{
    text-align: right;
    margin-right: 3rem;
    font-size: 1.5rem;
    color:#a92415;
}

footer{
    
    text-align: center;
    background-color: #FF9B50;
    color: white;
    font-size: 1.5rem;
}

.igIcoColor{
    color: #C63D2F;
    font-size: 3rem;
}
/* MAPA */
.mapouter{
    position:relative;
    text-align:right;
    width:600px;
    height:400px;
}
.gmap_canvas {
    overflow:hidden;
    background:none;
    width:600px;
    height:400px;
}
.gmap_iframe {
    width:600px;
    height:400px;
}

@media (min-width:320px) {
    
    .galeriaGrid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}
@media (min-width:768px) {
    
    .galeriaGrid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
   
    .logoBanner{
        display:flex;
        height: 10rem;
    }
    section article{
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items:center;
        margin: 1rem;
        border: calc(8px + 0.2vw) solid transparent;
        background-origin: border-box;
        background-clip: content-box, border-box;
        background-size: cover;
        box-sizing: border-box;
        box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
    }
    .imgIndex{
        height: 25vh;
    }
    
    .imgGaleria{
        height: 30vh;
    }
    .videoFabrica{
        width: 560px;
        height: 315px;
    }
}

@media (min-width:1024px) {
    
    .galeriaGrid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}